@page "{id:long}"
@using LarpCharacterBuilder3.Models
@using System.Linq
@model LarpCharacterBuilder3.PageModels.Character.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

<h1>Character Sheet - @Model.Character.Name</h1>
    
@{
        if (TempData["Message"] != null)
        {

            <aside class="alert alert-@TempData["MessageAlert"]" role="alert">@TempData["Message"]</aside>

        }
        else
        {
            <aside class="alert alert-dismissible"></aside>
        }
}
@functions 
{
    string WelcomeMessage(string username)
    {
        <p>Welcome, @username.</p>
        return username;
    }

    async Task<string> DisplayChildren(IEnumerable<Skill> children)
    {
        @:<ul>
        foreach (Skill childSkill in children)
        {
            <button class="btn btn-@CharacterKnows(childSkill)"
                    id="skill-@childSkill.Id" asp-page-handler="learn"
                    asp-route-skillId=@childSkill.Id
                    asp-route-skillName=@childSkill.Name>
                @childSkill.Name
            </button>
            if (childSkill.Children != null && childSkill.Children.Count > 0)
            {
                await DisplayChildren(childSkill.Children);
            }
        }
        @:</ul>
        return "";
    }

    string CharacterKnows(Skill skill)
    {
        //if(Model..Contains(skill)) return "btn-success";
        foreach (CharacterSkill characterSkill in Model.CharacterSkills.ToList())
        {
            if (characterSkill.SkillId == skill.Id)
            {
                return "success";
            }
        }
        return "primary";
    }
}

<section class="row">
    <form method="post" class="col-md-12">
        <input asp-for="Character.Id" type="hidden"/>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Character Name</span>
            </div>
            <span asp-validation-for="Character.Name"></span>
            <input type="text" asp-for="Character.Name" class="form-control" placeholder="Character Name" aria-label="Character name" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" id="button-addon2">Change Name</button>
            </div>
            </div>
    </form>
</section>
<br/>
<section class="row">
    <div class="col-md-3">
        <article class="card">
            <h3 class="card-header">CP</h3>
            <div class="card-body">
                <p class="card-text">Total CP: @Model.TotalCp</p>
                <p class="card-text">CP Spent: @Model.CpSpent</p>
                <p class="card-text">CP available to spend: @Model.CpRemaining</p>
                <p class="card-text">Games attended: @Model.GamesAttended</p>
            </div>
        </article>
    </div>

    <div class="col-md-3">
        <form method="post" class="card">
            <h3 class="card-header">Known Skills</h3>
            <secton class="card-body">
                <div>
                    <div class="list-group">
                    @foreach (var characterSkill in Model.CharacterSkills)
                    {
                        <button class="btn btn-outline-warning" type="submit" asp-page-handler="forget" asp-route-skillId="@characterSkill.SkillId" asp-route-skillName="@characterSkill.Skill.Name">
                            @characterSkill.Skill.Name
                        </button>
                        <ul>
                        @foreach (Skill child in characterSkill.Skill.Children)
                        {
                           <li>@WelcomeMessage(child.Name)</li>
                        }
                        </ul>
                    }
                    </div>
                </div>


            </secton>
        </form>
    </div>
    <div class="col-md-6">
    <form asp-page-handler="learn" class="card">
        <h3 class="card-header">All skills</h3>
        <section class="card-body">
            @foreach (var skill in Model.PrimarySkills)
            {
                <button class="btn btn-@CharacterKnows(skill)" id="skill-@skill.Id" asp-page-handler="learn" asp-route-skillId=@skill.Id asp-route-skillName=@skill.Name>@skill.Name</button>
                @await DisplayChildren(skill.Children);
            }
        </section>
    </form>
    </div>
</section>